<div class="order-one ng-scope">
    <img class="img-aside pizza-icon" alt="Піца" src="<%= pizza.icon %>">
    <p class="bold mb10 ng-scope">
        <% var sz = size === 'big_size' ? 'big' : 'small' %>
        <span class="order-title"><%= pizza.title %> (<%= sz %>)</span>
    </p>
    <div class="order-text">
        <img class="diagonal-image" src="assets/images/size-icon.svg">
        <span class="diagonal"><%= (sz === 'big' ? pizza.big_size.size : pizza.small_size.size) %></span>
        <img class="gram-image" src="assets/images/weight.svg">
        <span class="gram"><%= (sz === 'big' ? pizza.big_size.weight : pizza.small_size.weight) %></span>
    </div>
    <div class="price-box">
        <span class="price"><%= pizza[size].price * quantity %> UAH</span>
        <% if (editable) { %>
        <a class="minus btn btn-xs btn-danger btn-circle">
            <i class="glyphicon glyphicon-minus icon-white">
            </i>
        </a>
        <% } %>
        <span class="label order-pizza-count" style="color:black;"><%= quantity+(editable?"":" pizza")%></span>
        <% if (editable) { %>
        <a class="plus btn btn-xs btn-success btn-circle">
            <i class="glyphicon glyphicon-plus icon-white">

            </i>
        </a>
        <% } %>
        <% if (editable) { %>
        <a class="count-clear btn btn-xs btn-default btn-circle">
            <i class="glyphicon glyphicon-remove icon-white">

            </i>
        </a>
        <% } %>
    </div>
</div>