<%
function getIngredientsArray(pizza) {
    //Отримує вміст піци
    var content = pizza.content;
    var result = [];

    //Object.keys повертає масив ключів в об’єкті JavaScript

    Object.keys(content).forEach(function (key) {

        //a.concat(b) створює спільний масив із масивів a та b
        result = result.concat(content[key]);
    });

    return result;
}
%>
<!--<div class="col-md-6 col-lg-4 pizza-card">-->
<!--<div class="thumbnail">-->
<!--<img class="pizza-icon" src="<%= pizza.icon %>" alt="Pizza">-->

<!--<% if(pizza.is_new) { %>-->
<!--<span class="label label-danger">Нова</span>-->
<!--<% } else if(pizza.is_popular) { %>-->
<!--<span class="label label-success">Популярна</span>-->
<!--<% } %>-->

<!--<div class="caption">-->
<!--<span class="title"><%= pizza.title %></span>-->
<!--<div class="type"><%= pizza.type %></div>-->
<!--<div class="description">-->
<!--<%= getIngredientsArray(pizza).join(", ") %>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; Перед тим щоб показати кнопку необхідно переконатися, що піца має великий розмір &ndash;&gt;-->
<!--<button class="btn btn-primary buy-big">Купити велику</button>-->
<!--</div>-->
<!--</div>-->

<div class="col-md-6 col-lg-4 pizza-card">
    <div class="thumbnail pizza-border">
        <img class="pizza-image" src="<%= pizza.icon %>">
        <% if(pizza.is_new) { %>
        <h3 class="pizza-label-new"><span class="label label-danger">new</span></h3>
        <% } else if(pizza.is_popular) { %>
        <h3 class="pizza-label-new"><span class="label label-success">popular</span></h3>
        <% } %>
        <div class="caption">
            <h3 class="pizza-name"><%= pizza.title %></h3>
            <p class="pizza-type"><%= pizza.type %></p>
            <p class="description-card"><%= getIngredientsArray(pizza).join(", ") %></p>
            <div class="row" style="text-align: center">
                <% var small = 'small_size' in pizza; %>
                <% var big = 'big_size' in pizza %>
                <% if(small) { %>
                <div class=
                     <% if (big) { %>
                     "col-xs-6 pizza-small">
                    <% } else { %>
                    "col-md-12 pizza-small">
                    <% } %>
                    <div class="icons">
                        <div class="diameter">
                            <img
                                    src="assets/images/size-icon.svg">
                            <span class="diagonal"><%= pizza.small_size.size %></span>
                        </div>
                        <div class="weight">
                            <img
                                    src="assets/images/weight.svg">
                            <span class="gram"><%= pizza.small_size.weight %></span>
                        </div>
                    </div>
                    <h2>
                        <div class="price"><%= pizza.small_size.price %>
                            <div class="currency">UAH</div>
                        </div>
                    </h2>
                    <a class="buy-button btn btn-warning buy-button-small buy-small"
                       role="button">add to cart</a>
                </div>

                <% } %>
                <% if(big) { %>
                <div class=
                     <% if (small) { %>
                     "col-xs-6 pizza-big">
                    <% } else { %>
                    "col-md-12 pizza-big">
                    <% } %>
                    <div class="icons">
                        <div class="diameter">
                            <img
                                    src="assets/images/size-icon.svg">
                            <span class="diagonal"><%= pizza.big_size.size %></span>
                        </div>
                        <div class="weight">
                            <img
                                    src="assets/images/weight.svg">
                            <span class="gram"><%= pizza.big_size.weight %></span>
                        </div>
                    </div>
                    <h2>
                        <div class="price"><%= pizza.big_size.price %>
                            <div class="currency">UAH</div>
                        </div>
                    </h2>

                    <a class="buy-button btn btn-warning  buy-button-big buy-big" role="button">add to
                        cart</a>
                </div>
                <% } %>
            </div>
            <div class="button button-buy-container">

            </div>
        </div>
    </div>
</div>